doctype
html
	head
		meta(charset='utf-8')
		meta(name='author', content='Vlad Manea')
		meta(name='description' content='e-guitar is a website for easy task management')
		meta(name='robots' content='all,index,follow')
		link(rel='shortcut icon', href='./images/favicon.ico' type='image/ico')
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Roboto|Lato:100,300,400|Open+Sans|Old+Standard+TT:400|Droid+Serif:400|Droid+Sans:400')
		link(rel='stylesheet', type='text/css' href='./styles/style.css')
		script(type='text/javascript', src='./scripts/jquery.js')
		script(type='text/javascript', src='./scripts/common.js')
		script(type='text/javascript', src='./scripts/projects.js')
		title e-guitar | easy task management
	body
		h1
			a(href='http://localhost:3000') e-guitar
		hr
		div.project
			div
				form.project
					input.id(type='hidden',name='id')
					p
						input.name(placeholder='type the project name', name='name', title='Type the project name')
					p
						input.description(placeholder='type the project description',name='description', title='Type the project description')
					p
						input.close(type='button', value='x', title='Click to close the project details')
						input.add(type='button', value='add', title='Click to add this project')
						input.remove(type='button', value='remove', title='Click to remove this project')
						input.edit(type='button', value='change', title='Click to change this project')
		hr
		div.all