html
	background-color: #fff

body
	background-image: linear-gradient(to bottom, #eee, #fff)
	margin: 0
	margin-left: auto
	margin-right: auto
	min-height: 600px
	overflow: hidden
	padding: 50px
	text-align: center
	
body > h1
	color: #ccc
	font-family: Lato, Helvetica, Arial, sans-serif
	font-size: 75px
	font-weight: 300
	margin: 15px
	margin-left: auto
	margin-right: auto
	text-align: left
	text-shadow 0px 0px #ddd
	width:800px

body > div	
	margin-left: auto
	margin-right: auto
	width: 800px

body > div > div
	background-color: #fff
	box-shadow 0 0 5px #ddd
	margin-top: 25px
	opacity: 0.9
	overflow-x: hidden
	padding: 15px
	width: 800px
	
body > div > div > h2
	clear: both
	color: #333
	float: left
	font-family: Lato, Helvetica, Arial, sans-serif
	font-size: 50px
	font-weight: 300
	margin: 0
	padding: 0
	text-shadow 0px 0px #eee
	white-space: nowrap
	
body > div > div > p
	color: #ddd
	float: left
	font-family: Lato, Helvetica, Arial, sans-serif
	font-size: 25px
	font-weight: 300
	margin: 0
	padding: 0
	text-shadow 0px 0px #eee
	white-space: nowrap
	
body > div > div > aside
	background-color: #333
	color: #fff
	float: left
	font-family: Lato, Helvetica, Arial, sans-serif
	font-size: 15px
	font-weight: 300
	margin: 0
	margin-left: -15px
	margin-top: -15px
	padding: 5px
	text-shadow 0px 0px #eee
	white-space: nowrap
	
body > div > div > div
	background-color: #f0f
	clear:both
	text-align: center
	
body > div > div > div > div
	border-top-left-radius: 100%
	border-bottom-left-radius: 100%
	border-bottom-right-radius: 100%